@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink: #d804b5;
    --hoverpink: #9c1786;
    --hoverwhite: #f0f8ff;
}

#container {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    transition: background 0.2s linear;
}

/* Tema */

.tema-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    flex-direction: row;
    background-color: rgb(19, 18, 18);
    border-radius: 15px;
    width: 70px;
    height: 10px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.tema-button:hover{
    background-color: rgb(31, 30, 30);
}

#sunMoon{
    width: 35px;
}


/* estilização da scrollbar */

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, var(--pink));
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, var(--hoverpink));
    border-radius: 5px;
}

/* Navegação */

.cabecalho {
    position: fixed;
    width: 100%;
    padding: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.name:hover {
    color: var(--hoverwhite);
}

span {
    color: var(--pink);
    font-weight: 700;
}

span:hover {
    color: var(--hoverpink);
    font-weight: 700;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.botoes {
    display: flex;
    flex-direction: row;
}

button {
    background-color: transparent;
    border: transparent;
}

.link {
    padding: 10px 20px;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 0.5s;
    border-radius: 20px;
}

.link:hover {
    color: var(--hoverwhite);
    letter-spacing: 0.20em;
    box-shadow: 0 0 45px rgb(156, 23, 134);
}

/* Animação do botão do cabeçalho */

.pulse {
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 255, .5), 0 0 0 0 rgba(255, 0, 255, .5);
    }

    40% {
        box-shadow: 0 0 0 10px rgba(255, 0, 255, 0), 0 0 0 0 rgba(255, 0, 255, .5);
    }

    80% {
        box-shadow: 0 0 0 10px rgba(255, 0, 255, 0), 0 0 0 10px rgba(255, 0, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 255, 0), 0 0 0 10px rgba(255, 0, 255, 0);
    }
}

/* Conteudo */

.conteudo {
    flex: 1 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

/* Home */

.perfil-foto {
    width: 150px;
    margin: 120px 0px 15px;
    border-radius: 50%;
}

.perfil-home {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.boas-vindas {
    color: var(--pink);
    margin: 20px;
}

.slogan {

    font-weight: 700;
    font-size: 40px;
}

.perfil-botao {
    margin-top: 80px;
    margin-bottom: 30px;
}

.curriculo {
    border: 1px solid var(--pink);
}

/* Animação do scroll */

.perfil-home .scroll img {
    animation: scroll-down 2s infinite forwards;
}

@keyframes scroll-down {

    0% {
        opacity: 0;
        transform: translate3d(0, -15px, 0);
    }

    30% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }
}

.scroll-name {
    font-size: 18px;
    margin-top: 50px;
    letter-spacing: 2px;
    font-weight: bold;
}

.scroll-img {
    width: 40px;
    height: 40px;
}

/* Sobre */

.init-hidden {
    opacity: 0;
    transition: opacity 0.6s linear;
}

.init-hidden-off {
    opacity: 1;
}

.perfil-sobre {
    width: 80%;
    background-color: #1c1c1c;
    border-radius: 20px;
    margin: 15px;
    margin-bottom: 50px;
}

.perfil-sobre h1 {
    font-weight: 200;
    text-align: center;
    margin: 5px;
}

.perfil-sobre p {
    font-size: 20px;
    margin: 5px;
}

.perfil-descricao {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.perfil-redes {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

ul {
    display: flex;
    justify-content: center;
    padding: 30px;
}

ul li {
    list-style: none;
    margin: 10px;
}

ul li .rede {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border: 1px solid rgba(184, 5, 154, 0.4);
    border-right: 1px solid rgb(216, 4, 181, 0.2);
    border-bottom: 1px solid rgb(216, 4, 181, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: 0.7s;
    overflow: hidden;
}

ul li .rede:hover {
    transform: translateY(-20px);
}

ul li .rede::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}

.rede:hover::before {
    transform: skewX(45deg) translateX(-150px);
}


/* Tecnologias */

.tecnologias {
    display: flex;
    margin: 10em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.tecnologias h1 {
    font-size: 50px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 50px;
}

.icon {
    margin: 10px;
}



/* Projetos */

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 90%;
    margin-top: 50px;
}

.projetos .tittle{
    text-align: center;
    padding-bottom: 100px;
}

.tittle h1 {
    font-size: 40px;
    font-weight: 300;
   
}

.tittle a {
    font-size: 20px;
    text-decoration: underline;
}

.tittle a:hover {
    color: var(--hoverpink);
}

.projeto{
    display: flex;
    flex-direction: row;
}

.projeto .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
}

.text button{
    margin: 20px;
    padding: 10px;
    border: 2px solid var(--pink);
    border-radius: 10px;
    transition: 0.5s;
}

.text button:hover{
    background-color: var(--hoverpink);
}

.text img{
    width: 15px;
    margin-right: 5px;
}

.scroll-bar{
    height: 700px;
    overflow-y: scroll;
}

/* Rodapé */

.rodape {
    flex-basis: 100%;
    padding: 25px;
    background-color: black;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    color: white;
    line-height: 15px;
}

.desenvolvedora {
    width: 15px;
}

.rodape-redes {
    display: flex;
    gap: 10px;
}

.link-icon {
    color: white;
    font-size: 1.3rem;
    transition: color 0.2s;
}

.link-icon:hover {
    color: #9c05aace;
}

.desenvolvedora-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: var(--pink);
    transition: 0.4s;
}

.desenvolvedora-link:hover {
    color: var(--hoverpink);
}