@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    min-height: 200vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
}

.cabecalho{
    flex-basis: 100%;
    padding: 40px;
    background-color:black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#home{
    text-decoration: none;
}

.botoes{
    display: flex;
    flex-direction: row;
   
}

button{
    background-color: transparent;
}

.link{
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 20px;
}

.link:hover{
    color:  rgb(255, 255, 255);
    letter-spacing: 0.21em;
    box-shadow: 0 0 45px rgb(156, 23, 134);
}

.pulse{
    animation: animate 3s linear infinite;
}

@keyframes animate 
{
    0%
    {
        box-shadow: 0 0 0 0 rgba(255,0,255,.5), 0 0 0 0 rgba(255,0,255,.5);
    }

    40%
    {
        box-shadow: 0 0 0 10px rgba(255,0,255,0), 0 0 0 0 rgba(255,0,255,.5);
    }

    80%
    {
        box-shadow: 0 0 0 10px rgba(255,0,255,0), 0 0 0 10px rgba(255,0,255,0);
    }

    100%
    {
        box-shadow: 0 0 0 0 rgba(255,0,255,0),0 0 0 10px rgba(255,0,255,0);
    }
}

.conteudo{
    flex: 1 0 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: black;  
}

.perfil-home{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.foto{
    width: 150px;
    margin: 30px 0px 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 80px 8px rgb(71, 19, 63);
}

.boas-vindas{
    color: rgb(216, 4, 181);
    margin: 20px;
}

.slogan{
    color: white;
    font-weight: 700;
    font-size: 40px;
}

span{
    color:rgb(216, 4, 181);
    font-weight: 700;
}

.perfil-botao{
    border: transparent;
    margin: 100px;
}


.curriculo{
    color: white;
}

p{
    margin: 10px;
    
}


.descricao{
    color: white;
    margin: 20px;
    font-size: 20px;
}


.perfil-redes{
  
}

.rodape{
    flex-basis: 100%;
    padding: 25px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    line-height: 15px;
}

.desenvolvedora{
    width: 15px;
}

.desenvolvedora-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: rgb(216, 4, 181);
    transition: 0.4s;
}

.desenvolvedora-link:hover{
    color: rgb(160, 1, 160); 
}


